body {
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background: #EEE;
}

a {
    text-decoration: none;
}

.content {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
    background: white;
}

.hero {
    position: relative;
    width: 480px;
    height: 347px;
    background: url(../imgs/titlebackground.jpg);
    background-size: 100% 100%;
    color: white;
}

.bigScores {
    position: relative;
    width: 480px;
    height: 347px;
    background: url(../imgs/scorebackground.jpg);
    background-size: 100% 100%;
    color: white;
    font-size: 3.8em;
    font-weight: bolder;
    text-shadow: 2px 2px 0px rgb(0, 0, 0);
    margin-top: 1em;
    margin-bottom: 1em;
}

.bigScores small {
    font-size: 0.3em;
}

.holder {
    position: absolute;
    top: 0;
    width: 100%;
}

.clearfix {
    clear: both;
    height: 14px;
}

h1 {
    position: absolute;
    margin: 0;
    margin-left: 6px;
    top: 50%;
    font-size: 3em;
    line-height: 0.9em;
}

h2 {
    font-size: 3em;
}


.filterResults {
    margin-top: 2em;
}

.filterResults,
.otherResults {
    width: 100%;
}

.filterResults tr {
    height: 2em;
}

.head {
    font-size: 1.2em;
    font-weight: bold;
    line-height: 3em;
}

td.filter {
    width: 30%;
}

td.score {
    position: relative;
    width: 70%;
    font-size: 0.8em;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(192, 192, 255);
    color: black;
    border-radius: 3px;
    padding-top: 4px;
    height: 1.4em;
}

.foreground {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: rgb(0, 0, 192);
    color: white;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 3px;
    padding-top: 4px;
    height: 1.4em;
}

.explanation p {
    font-size: 0.9em;
    line-height: 1.5em;
}

.otherResults {
    font-size: 0.9em;
}

.hasFilter,
.noFilter {
    width: 100%;
}

div.filter {
    width: 58%;
    float: left;
}

div.score {
    width: 42%;
    float: left;
    text-align: center;
}

.total .filter {
    width: 35%;
}

.shovetotal {
    clear: both;
    height: 32px;
}


.total .score {
    width: 65%;
    text-align: right;
}

.others {
    width: 90%;
    margin-left: 5%;
}

.footer {
    width: 100%;
    font-size: 0.9em;
    line-height: 5em;
    background: #999;
    color: white;
    margin-top: 2em;
    text-align: center;
}

.credit {
    position: absolute;
    right: 4px;
    bottom: 4px;
    font-size: 10px;
    font-weight: normal;
}

.credit a {
    color: #CCF;
}